@import "../abstract/var";

.blog{
	margin-bottom: 60px;

    &__box{
    display: flex;
    justify-content: center;
    }

    &__thumbnail{
    margin: 10px;
	width: 350px;
	height: 350px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    & > img{
    width: 350px;
    height: 200px;
    }

    &__tittle{
        font-size: 20px;
    }

    &__desc{
    font-weight: normal;
	text-align: left;
    }

    }

    &__link{
        color:$primary--color ;
    }


}

.blog > hr{
	border: 1px solid $secondary--color;
	width: 50%;
	margin-bottom: 60px;
}